API_KEY.txt
.config
.env
.DS_Store
node_modules/
dist/
build/
.vscode/
*.log
.idea/
*.iml
coverage/
*.bak
*.tmp
*.swp
Thumbs.db
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.pdb
*.so
*.o
*.obj
*.pyc
__pycache__/
*.ipynb_checkpoints
*.sqlite
*.db
*.log
*.zip
*.tar.gz
*.rar
*.7z
*.bak
*.old
*.orig
*.rej
*.swo
*.swn
*.aux
*.lof
*.lot
*.fls
*.out
*.toc
/firebase/serviceAccountKey.json
